name: Deploy to Firebase Hosting on push

on:
  push:
    branches:
      - main  

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Instalar Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy to Firebase
        run: firebase deploy --only hosting --project studio-3959207469-af070
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
